<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Countries API</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="lead-form">
              <h1 class="text-center">Type Country Name</h1>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Type here" v-model="country">
                  <br>
                  <span class="city-span" v-cloak><strong>Capital:</strong> {{ capital }}</span>
                  <br><hr>
                  <span class="city-span" v-cloak><strong>Currency:</strong> {{ currency }}</span>
                </div>
              </div>
            </div><!-- end of .lead-form -->
          </div> <!-- end of .col-md-6.col-md-offset-3 -->
        </div> <!-- end of .row -->
      </div> <!-- end of .container -->
    </div> <!-- end of #app -->
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        country: '',
        capital: '',
        currency: ''
      },
      watch: {
        country: function() {
          this.capital = ''
          this.currency = ''
          if ( this.country.length >= 3 ) {
            this.findInfo()
          }
        }
      },
      methods: {
        findInfo: _.debounce(function(){
          var app = this
          app.capital = 'Searching...'
          axios.get('https://restcountries.eu/rest/v2/name/' + app.country.toLowerCase() )
                .then(function(response) {
                  app.capital = response.data[0]['capital']
                  app.currency = response.data[0]['currencies'][0]['name']
                })
                .catch(function(error) {
                  app.capital = app.currency = 'Country not found'
                })
        }, 50)
      }
    })
  </script>
</html>
